h1{
    font-size: 10rem;
    text-align: center;
}

.letter {
    transition: color 1000ms;
}

button{
    text-align: center;
    color:Navy;
    height:6rem;
    width:10rem;
    font-size: 2rem;

}
